---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: falco
  namespace: {{ falco_namespace }}
spec:
  namespaceSelector:
    matchNames:
      - {{ falco_namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: falco
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: falcosidekick
  namespace: {{ falco_namespace }}
spec:
  namespaceSelector:
    matchNames:
      - {{ falco_namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: falcosidekick
      app.kubernetes.io/component: core
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
