# Thin chart values for official Pinniped + Keycloak CRs.
pinnipedVersion: "{{ pinniped_version }}"
pinnipedNamespace: "{{ pinniped_namespace }}"
pinnipedHost: "{{ pinniped_host }}"
federationIssuer: "https://{{ pinniped_host }}"
keycloakIssuer: "{{ oidc_issuer_url }}"
httpsSecretName: "{{ pinniped_https_secret }}"
httpsServiceName: "{{ pinniped_supervisor_service }}"
oidcClientSecretName: "{{ pinniped_oidc_client_secret_name }}"
oidcClientId: "{{ pinniped_oidc_client_id }}"
oidcClientSecret: "{{ k8s_secrets.pinniped_supervisor_client_secret }}"
idpName: "{{ pinniped_idp_name }}"
jwtAuthenticatorName: "{{ pinniped_jwtauthenticator }}"
clusterIssuer: "{{ k8s_cluster_domain }}"
caBundleB64: "{{ pinniped_ca_bundle_b64 }}"
loginUi:
  serviceName: "{{ pinniped_login_service }}"
  kubeconfigSecret: "{{ pinniped_login_kubeconfig_secret }}"
  image: "{{ pinniped_login_image }}"
  clusterDomain: "{{ k8s_cluster_domain }}"
