apiVersion: v1
kind: Secret
metadata:
  name: {{ mailu_secret_name }}
  namespace: {{ mailu_namespace }}
type: Opaque
stringData:
  secret-key: "{{ k8s_secrets.mailu_secret_key }}"
  initial-account-password: "{{ k8s_secrets.mailu_initial_password }}"
