---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: fluent-bit
  namespace: {{ logging_namespace }}
spec:
  namespaceSelector:
    matchNames:
      - {{ logging_namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: fluent-bit
  endpoints:
    - port: http
      path: /api/v1/metrics/prometheus
      interval: 30s
