mode: "deployment"
ports:
  metrics:
    enabled: true
serviceMonitor:
  enabled: true
config:
  exporters:
    otlp/jaeger:
      endpoint: jaeger.{{ tracing_namespace }}.svc.{{ k8s_dns_domain }}:4317
      tls:
        insecure: true
    prometheusremotewrite:
      endpoint: http://prometheus-kube-prometheus-prometheus.{{ monitoring_namespace }}.svc.{{ k8s_dns_domain }}:9090/api/v1/write
      target_info:
         enabled: true        
  connectors:
    spanmetrics:
     exemplars:
       enabled: true 
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: ${env:MY_POD_IP}:4317
        http:
  processors:
    batch: {}
  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]    
        exporters: [spanmetrics,otlp/jaeger]
      metrics:
        receivers: [spanmetrics,otlp]
        exporters: [prometheusremotewrite]
