apiVersion: v1
kind: Config
clusters:
  - name: {{ k8s_oidc_cluster_name }}
    cluster:
      server: {{ k8s_oidc_cluster_server }}
      certificate-authority-data: {{ k8s_oidc_cluster_ca_data }}
contexts:
  - name: {{ k8s_oidc_cluster_name }}-oidc
    context:
      cluster: {{ k8s_oidc_cluster_name }}
      user: oidc
current-context: {{ k8s_oidc_cluster_name }}-oidc
users:
  - name: oidc
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: kubectl
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url={{ kube_oidc_issuer_url }}
          - --oidc-client-id={{ kube_oidc_client_id }}
          - --oidc-extra-scope=email
          - --oidc-extra-scope=profile
          - --certificate-authority-data={{ k8s_oidc_issuer_ca_data }}
        installHint: kubectl oidc-login requires kubelogin (kubectl-oidc_login) on PATH
        interactiveMode: Always
        provideClusterInfo: false
