apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: "http://vault.{{ vault_namespace }}.svc.{{ k8s_dns_domain }}:8200"
      path: secret
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: eso
          serviceAccountRef:
            name: "{{ eso_service_account | default('external-secrets') }}"
            namespace: "{{ vault_namespace }}"
