apiVersion: v1
kind: Secret
metadata:
  name: labca-tsig-secret
  namespace: "{{ cert_manager_namespace }}"
type: Opaque
stringData:
  tsig-secret-key: {{ k8s_secrets.external_dns_tsig_secret }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ k8s_cluster_domain }}
spec:
  acme:
    email: admin-k8s@{{ dns_domain_suffix }}
    server: https://{{ pki_ca_host }}:8443/acme/acme/directory
    privateKeySecretRef:
      name: labca-issuer-account-key
    # caBundleSecretRef:
    #   name: ca-{{ cert_manager_namespace }}
    #   key: ca.crt
    solvers:
      - dns01:
          rfc2136:
            nameserver: {{ dns_server_ip }}:53
            tsigKeyName: {{ k8s_cluster_domain }}-key
            tsigAlgorithm: HMACSHA256
            tsigSecretSecretRef:
              name: labca-tsig-secret
              key: tsig-secret-key
        selector:
          dnsZones:
            - '{{ k8s_cluster_domain }}'