apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: external-dns-istio
  namespace: {{ istio_namespace }}
spec:
  namespaceSelector:
    matchNames:
      - {{ istio_namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: external-dns
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
